body {
    font-family: 'Prompt', sans-serif;
    margin-left: 7.5vw;
    margin-right: 7.5vw;
    margin-top: 0px;
}

#title {
    border: solid rgb(225, 225, 225) 0.01vw;
    padding: 1.5vw;
    font-size: 3.5vw;
    font-weight: bold;
    color: rgb(255, 166, 0);
    background: rgb(250, 250, 250);
}

#movie-list {

    border: solid rgb(225, 225, 225) 0.01vw;
    text-align: center;
}

#movie-list img {
    padding: 0.5vw;
    max-width: 93.5%;
    border-radius: 10px;
}

.movie {
    width: 15vw;
    margin: .75vw;
    text-align: left;
    display: inline-block;
    font-size: 1vw;
    border-radius: 5px;
    transition: .30s;

}

.movie-txt {
    padding-left: .75vw;
    padding-bottom: .5vw;
}

i span {
    font-family: 'Prompt', sans-serif;
}

.movie:hover {
    background-color: rgb(50, 50, 50);
    color: rgb(255, 175, 0);
    transition: .30s;
    cursor: pointer;
}

a {
    color: rgb(45, 45, 45);
}